.block_element {
  width: 700px;
  background-color: #C7DCDF;
  margin-left: auto;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
}

nav {
  float: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10;
}
ul {
  list-style-type: none;

  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none ;
}

li {
  float: right;
}

li a {
    color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: none;
}

section {
  background-color: #EDE7E3;
  padding: 20px;


  background-size: cover;
  background-repeat: no-repeat;
}
img {
  width: 200px;
}

.button {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #EADFD7;} 

/*.footer {
    clear: both;
    position: relative;
    height: 100px;
    margin-top: -200px;
    padding: 10px;
    background-color:rgb(68, 206, 224);
}
*/

footer {
  text-align: right;
  padding: 25px;
  background-color: #EADFD7;
  color: Black;
}
